---
---
@import 'bootstrap/bootstrap';

body {
  background-color: #000000;
  color: #c0c0c0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

a {
  color: #ffff00;
}

dl {
  @include make-row();
}

dt {
  @include make-col(2);
}

dd {
  @include make-col(4);
}

h1 {
  @include make-row();
}
